<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: fit-content;
            height: fit-content;
            margin-left: 50px;
            margin-top: 50px;
            border-style: double;
            border-width: 5px;
            background-color: azure;
        }
    </style>
</head>
<body>
    <div>
        <form action="/calc" method = "GET">
            Number <input type="text" name = "t1"><br>
            Number <input type="text" name = "t2"><br>
            <input type="submit" value="add" name="b">
            <input type="submit" value="sub" name="b">
            <input type="submit" value="mul" name="b">
            <input type="submit" value="div" name="b">
        </form>
    </div>
</body>
</html>